* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.main-picture{
  width: 25%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.picture-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 2%;
}

.heart-icon{
  width: 50px;
  background: none;
  animation: heart-bounce 1s infinite;
}
.heart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;

}
.half-div{
  width: 100%;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: white;
}

.half-div-down{
  height: 60vh;
  /* border-top: 2px solid black; */
  background-color:#fe2350;
  font-family: 'Dancing script', 'Cookie' , 'Allura' , cursive;
  font-weight: 400;
  font-size: 1.5em;
  color: #F7E7CE;
  position: relative;
  z-index: 1;

  
}
.half-div-up{
  height: 40vh;
  /* border-bottom: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 0%;
  background-color: white;
}

@keyframes heart-animation{
  0%{
    opacity: 1;
    transform: translateY(100%);
  }
  40%{
    opacity: 1;
    transform: translateY(-150%);
  }
  50%{
    opacity: 1;
    transform: translateY(-152%);
  }
  60%{
    opacity: 1;
    transform: translateY(-152%);
  }
  75%{
    opacity: 1;
    transform: translateY(-150%);
  }
  100%{
    opacity: 1;
    transform: translateY(100%);
  }
}

.heart-bounce{
  opacity: 0;
  animation: heart-animation 1s ease-in-out 4s forwards;
}

h1{
  margin-bottom: 2%;
}

@media screen and (max-width:600px){
  .main-picture{
    width: 50%;
  }
  
  h1 , h3{
    margin-top: 2%;
    margin-bottom: 4%;


  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-500%);
    opacity: 1;
  }
  70% {
    transform: translateY(20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-down{
  opacity: 0;
  animation: slideDown 2s ease 4s forwards;
}

@keyframes shrink{
  from {
    height: 40vh;
  }
  to {
    height: 0vh;
  }
}

.animate-shrink{
  animation: shrink 1s ease-out 5.5s forwards;
}

@keyframes expand{
  from {
    height: 60vh;
    padding-top: 0vh;
  }
  to {
    height: 100vh;
    padding-top: 20vh;
  }
}

.animate-expand{
  animation: expand 1s ease-out 5.5s forwards;
}

.wishes-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  margin: 0%;
  text-align: center;
}
.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(20px); 
  animation: fadeIn 0.25s ease-out  forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.floating-hearts-background, .confetti-container{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50vh;
  pointer-events: none;
  z-index: 2;
}

.floating-heart {
  position: absolute;
  bottom: -10%;
  width: 40px; /* Adjust size as needed */
  opacity: 0.7;
  animation: floatUp 5s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}
